<%- include('./partials/head') %>

<article>
  <h1>Nandita Badeloe</h1>
  <h2>MR.WORLDWIDE</h2>
  <p>ewa ja man vet leip</p>

  <a href="https://github.com/NBadeloe" class="git" >
   <img src="/assets/github.png" alt="github logo">
 </a> 
 <a href="#" class="web">
  <img src="/assets/globe.png" alt="world icon">
 </a>
</article>

<%- include('./partials/foot') %>
