@font-face {
  font-family: cageroll-cage;
  src: url(./assets/Cageroll-Cage.otf);
}

@font-face {
  font-family: cageroll-standard;
  src: url(./assets/Cageroll-Standard.otf)
}

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #000 ;
  background-image: url(./assets/bbblurry.svg);
  background-repeat: no-repeat;
  background-size: cover;

  
}


article {
  padding: 2.5em;
  width: 40em;
  height: 22em;
  color: white;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 3px solid rgba(255, 255, 255, 0.551);
}

h1 {
  font-family: cageroll-standard;
  color: lime;
  font-size: 3em;
  font-weight: 100;
  padding-left: 0.5em;
  text-align: center;
  color: white;
}
h2{
  font-family: cageroll-cage;
  text-align: center;
  padding: 1em;
  margin: 1em;
}
p {
  text-align: center;
  padding-right: 2.5em;
  margin: 1em;
}

a,p {
  text-decoration: none;
  font-family: 'Oxanium', cursive;

}

.git{
  padding-left: 1.5em;
  text-align: left;
}

.web{
  padding-right: 2.5em;
  margin-left: 27em;
  text-align: center;
}